[Unit]
Description=Sample Unbound stats every minute

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=5s
Persistent=false

[Install]
WantedBy=timers.target
